ul, li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

h2, h3, h4 {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}

.h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}

.head {
    background-image: url('img/HomeBackground.png');
    background-size: cover;
    max-height: 100%;
    color: white;
}

.service {
    background-color: white;
}

.about_us{
    background-color: #f8f8f8;
}

.menu {
    padding-top: 40px;
    margin-left: 490px;
    margin-bottom: 160px;
}

.menu_item a {
    color: white;
}

.startup {
    padding-top: 40px;
    font-weight: bold;
}

.menu_item {
    margin-right: 30px;
}

.menu_item a {
    font-size: 12px;
}

.favourite {
    margin-top: 34px;
    text-align: center;
    font-size: 16px;
}

.start {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 206px;
    background: transparent;
    color: white;
    border-color: white;
}

.start btn {
    max-height: 150px;
    max-width: 100px;
    text-align: center;
    font-size: 16px;
}

.service {
    padding-top: 100px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
}

.servicestext {
    margin-top: 62px;
    text-align: center;
    font-size: 16px;
}

.rock {
    margin-top: 190px;
    margin-left: 504px;
    text-transform: uppercase;
}

.services_item {
    text-align: center;
    align-items: center;
    display: inline-block;
}

.services_img {
    padding-top: 70px;
}

.servicestext {
    font-size: 16px; 
}
.services_item a {
    text-transform: uppercase;
    font-size: 12px;
}

.services_item name {
    margin-top: 30px;
}

.services_item p {
    font-size: 12px;
    margin-right: 30px;
    max-height: 63px;
    max-width: 365px;
}

.aftername {
    padding-bottom: 100px;
}

.aboutus_text {
    text-align: center;
    font-size: 16px;
    padding-top: 60px;
}

.aboutus_item {
    margin-right: 30px;
    max-height: 100px;
    max-width: 555px;
    padding-top: 74px;
}

.name {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 15px;
}

.team_item {
    padding-top: 75px;
    padding-bottom: 100px;
}

.team_item p {
    font-size: 12px;
    margin-top: 10px;
}

.team_img {
    margin-top: 75px;
    max-height: 270px;
    max-width: 270px;
    margin-right: 30px;
}

.work {
    padding-top: 100px;
}

.work_item {
    font-size: 12px;
    margin-right: 30px;
    margin-top: 60px;
}

.latestworks1 {
    margin-top: 70px;
}

.latestworks3 {
    padding-bottom: 100px;
}

.work_img {
    max-width: 365px;
    max-height: 350px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

.do {
    text-align: center;
    font-size: 30px;
    padding-top: 70px;
    margin-bottom: 0;
    color: white;
}

.lets {
    text-align: center;
    font-size: 30px;
    color: white;
}

.touch {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    background: transparent;
    color: white;
    border-color: white;
}

.touch btn {
    max-height: 150px;
    max-width: 100px;
    text-align: center;
    font-size: 16px;
}

.like {
    background-image: url('img/lets-talk.png');
    background-size: cover;
    max-height: 100%;
}

#tr-property { 
 background-color: transparent; 
 border: 3px solid white;
 transition-property: all;
 transition-duration: .8s
}
#tr-property:hover {
 background-color: #747b83;
 border-width: 3px;
 border-color: black;
}